<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form class="login100-form validate-form " action="/login" method="POST">
        <input type="text" name="name">
        <input type="text" name="pass">
        <button>Posalji</button>
        </form>
</body>
</html>